import /init.recovery.qcom_decrypt.rc

on init
    # Load Tuxera exfat module
    insmod /system/lib/modules/texfat.ko

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    export LD_CONFIG_FILE /sbin/ld.config.txt
	
    # Workaround for adb not coming up
    setprop sys.usb.config adb
